version: '3'
services:
  nginx:
    image: nginx:alpine
    container_name: wakords-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/wakords.com-0002/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/wakords.com-0002/privkey.pem:/etc/ssl/private/privkey.pem:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

    depends_on:
      - wakords-frontend
      - wakords-backend
    restart: unless-stopped

  wakords-frontend:
    build:
      context: ./wakord-frontend
    container_name: wakords-frontend
    restart: unless-stopped

  wakords-backend:
    build:
      context: ./wakord-backend
    container_name: wakords-backend
    environment:
      - PORT=3000
    expose:
      - "3000" # Sadece container içinde kullanılacağı için expose kullanıldı
    restart: unless-stopped
